@model List<CategoryVM>

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler</h4>
    <div class="card">
        <div class="table-responsive text-nowrap px-5 py-2">
            <div class="text-end my-2">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="Add">Kategori Ekle <i class='bx bx-plus-circle'></i></a>
            </div>
            <table class="table table-bordered table-hover table-striped" id="categoriesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Başlık</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Başlık</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <td>@category.Name</td>
                            <td>@category.CreatedDate.ToShortDateString()</td>
                            <td>@category.CreatedBy</td>
                            <td>@(category.IsDeleted ? "Pasif" : "Aktif")</td>
                            <td>
                                <div class="btn-group" role="group">

                                    <a class="btn btn-secondary btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id"><i class='bx bx-edit'></i></a>
                                    <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id"><i class='bx bx-trash'></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
}